@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #7EB9DB;
    display: flex;
}
.cadastrar{
    background-color: white;
    /* max-width: 960px; */
    width: 50%;
    height: 624px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.tituloCadastro{
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Poppins';
}

.h1-cadastro{
    border-bottom: 2px solid black;
}

.inputs{
    background-color: #F4FEFF;
    width: 360px;
    height: 460px;
    display: flex;
    justify-content: center;
    border: 1px solid #2C92B0;
    /* padding-bottom: 113px; */
    /* flex-direction: column; */
}

.input{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Poppins';
    font-size: 13px;
}

.nomeMed-input,
.especialidade-input,
.nomePaci-input,
.dataCons-input,
.situacao-input{
    display: flex;
    flex-direction: column;
    background-color: #A6D9F5;
    border: none;
    width: 280px;
    height: 25px;
}

.btnCadastrar{
    width: 215px;
    height: 40px;
    background-color: #2C92B0;
    color: white;
    border: none;
}


.direita-listar{
    background-color: #7EB9DB;
    max-width: 960px;
    width: 50%;
    height: 624px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.tituloLista{
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-family: 'Poppins';
}

.h1-consulta{
    border-bottom: 2px solid white;
}

.consultasLista{
    display: flex;
    flex-direction: column;
}

.li-line{
    border: 1px solid white;
}

h2{
    padding-top: 10px;
    font-size: 20px;
    font-family: 'Roboto';
}

.lista2{
    padding-top: 15px;
}